- if book.previous_step_winner
  %h5 PLACEHOLDER
- text, url = book.transition_and_translation
%h4= link_to(text, url)
%h5 #{t('book.time_to_submit')}
%h4
  = render partial: 'countdown', locals: {book: book}
