%nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
  = link_to root_path, class: 'navbar-brand ml-4' do
    %span.h1 AnOpenBook
  .navbar-nav.mr-auto
  %login.mr-4{link: {login: user_session_path,
                sign_up: new_user_registration_path,
                forgot_password: new_user_password_path,
                confirmation_resend: new_user_confirmation_path,
                sign_out: destroy_user_session_path,
                edit: edit_user_registration_path},
         user: current_user.try(:username),
         "@loggedin": "setLoggedIn",
         ":on-page": "onPage"}
