- chapter ||= nil
.row.mt-5
  .col-sm-12
    - text, url = book.transition_and_translation
    .row
      .col-auto.mr-auto
        %h2= text
      .col-auto
        %submitbutton{":logged-in": "loggedIn",
                      type: type,
                      link: {new: url_for(controller: type.pluralize, action: 'new', book_id: book.friendly_id, chapter: chapter, only_path: true )}}
    .row
      .col-auto.mr-auto
        %h4= @book.genre.titleize
      .col-auto
        %h4
          = render partial: 'books/countdown', locals: {book: book}
    .row
      %scrollsubmissions{first_page: submissions.to_json, type: type, init_complete: submissions_complete,
                          'link-get': url_for(controller: type.pluralize, action: 'index', book_id: book.friendly_id, chapter: chapter, only_path: true )}
