- chapter ||= nil
- existing ||= nil
.row.mt-5
  .col-sm-12
    - text, url = book.transition_and_translation
    .row
      .col-auto.mr-auto
        %h2= text
      .col-auto
        -if book.voting_enabled?
          %votesleft{votes: @votes_left}
        -else
          %submitbutton{type: type, link: { new: url_for(controller: type.pluralize, action: 'new', book_id: book.friendly_id, chapter: chapter, only_path: true ),
            edit: (url_for(controller: type.pluralize, action: 'edit', book_id: book.friendly_id, chapter: chapter, id: existing.friendly_id, only_path: true) if existing ),
            view: (url_for(controller: type.pluralize, action: 'show', book_id: book.friendly_id, chapter: chapter, id: existing.friendly_id, only_path: true) if existing&.is_submitted ) } }
    .row
      .col-auto.mr-auto
        %h4= @book.genre.titleize
      .col-auto
        %h4
          = render partial: 'books/countdown', locals: {book: book}
    .row
      %scrollsubmissions{first_page: SubmissionSerializer.new(submissions, params: {current_user: current_user}).to_json, type: type, init_complete: submissions_complete, votable: "#{book.voting_enabled?}",
        'link-get': url_for(controller: type.pluralize, action: 'index',
                            book_id: book.friendly_id, chapter: chapter, seed: seed, only_path: true )}
