.row.mt-5
  .col-sm-12
    .row
      .col-auto.mr-auto
        %h2= t('synopsis.synopsis_title', {title: @synopsis.title})
.row
  .col-auto.mr-auto
    %h4= @book.genre.titleize
.row
  .col-lg-12
    = sanitize @synopsis.body
